@import "../scss-vars.scss";

.bigButton {
    width: 100%;
    background-color: $accent-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: $title-font;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
    cursor: pointer;
    padding: 30px;
    transition: all 0.1s;

    &:hover {
        background-color: $accent-color-light;
    }
    &:active {
        transform: translateY(2px);
    }
}