<div class="article-content">
    <div class="article-title">
        <div>ABOUT</div>
    </div>

    <div class="about-subtitle">"Who is this Tyler guy, anyways?"</div>

    <p>
        A dedicated Computer Science student, Tyler has a wide variety of
        professional experiences and multiple years seeing solutions through the
        entirety of their development.
        <br /><br />
        I'm passionate about creating meaningful connections between humans and
        tech, and will go the extra mile to learn new technologies to make those
        connections happen. Years of working on diverse teams has taught me the
        importance of flexibility and persistence.
    </p>

    <div class="side-by-side">
        <img src="../../assets/personal/tyler-and-friends.png" />

        <div class="rec-container">
            <div>
                "Tyler is an immensely intelligent and grounded individual who
                is willing to give himself to his community to achieve something
                greater than himself... he's managed to achieve an astonishing
                amount of progress with just a couple of laptops, a whole lot of
                phone calls, and a pervasive determination that I rarely see in
                working professionals."
            </div>
            <div class="right">Co-Founder & CMO @ Meylah</div>
        </div>
    </div>

    <div class="article-heading">
        <div>WHAT SETS ME APART</div>
    </div>

    <p>
        I grew up in a retail shop - connecting with customers and offering
        on-the-fly service is second nature to me.
        <br /><br />
        Up until college, much of my programming knowledge was self taught - I'm
        not afraid to dig into obscure documentation to get a feature up and
        running.
        <br /><br />
        My teamwork skills span many disciplines - I've worked with teams of
        students to develop gaming hardware, 3D printing curriculum, a Youth
        Business Fair, and university websites.
    </p>
</div>
