<div
    class="close-navmenu-region"
    id="close-navmenu-region"
    (click)="closeNavMenu()"
    [class.visible]="isOpen"
></div>
<div class="navmenu" id="navmenu" [class.open]="isOpen">
    <div class="close-navmenu-button" (click)="closeNavMenu()">&#x2716;</div>
    <div class="navmenu-items">
        <a class="nav-item" routerLink="/home" (click)="isOpen = false">HOME</a>
        <a class="nav-item" routerLink="/projects" (click)="isOpen = false">PROJECTS</a>
        <a class="nav-item" routerLink="/about" (click)="isOpen = false">ABOUT</a>
        <a class="nav-item" routerLink="/contact" (click)="isOpen = false">CONTACT</a>
        <a
            class="nav-item"
            href="../../assets/Tyler_Thompson_Resume.pdf"
            target="_blank"
        >
            RESUME
        </a>
    </div>
</div>
<div class="navbar" id="navbar" [class.is-hidden]="navHidden">
    <div class="title">
        <div class="line-container">
            <a class="name-container" routerLink="home">
                <div class="name-const">T</div>
                <div class="name-shrink">yler&nbsp;</div>
                <div class="name-const">T</div>
                <div class="name-shrink">hompson</div>
            </a>
        </div>
    </div>
    <div class="navbar-right">
        <a class="nav-item" routerLink="/home">HOME</a>
        <a class="nav-item" routerLink="/projects">PROJECTS</a>
        <a class="nav-item" routerLink="/about">ABOUT</a>
        <a class="nav-item" routerLink="/contact">CONTACT</a>
        <a
            class="nav-item"
            href="../../assets/Tyler_Thompson_Resume.pdf"
            target="_blank"
        >
            RESUME
        </a>
        <div class="hamburger" (click)="openNavMenu()">&#9776;</div>
    </div>
</div>
