<div class="article-content">
    <div class="article-title">
        <div>UGLA</div>
    </div>

    <p>
        I play video games from time to time and I’m obsessed with world
        interactivity as a major game mechanic. Drawing inspiration from the
        interactivity of games like Breath of the Wild and the voxel style of
        Terraria, I wrote a proof of concept game whose primary mechanic is
        manipulating the ground to navigate and attack an enemy.
        <br /><br />
        Though it's not a full-fledged game, I refined much of my understanding
        of OOP by writing everything but the graphics library from scratch, all
        in C++. This involved approach let me optimize entity and collision
        management, allowing for upwards of 100,000 voxels to be placed in the
        world with minimal CPU usage. Entities take damage and are sent flying
        when ground tiles are launched at them, and once tiles fall to the
        ground they become apart of the world again. Gameplay is snappy and I've
        spent tons of time just messing with the mechanics to see what the
        player can do.
        <br /><br />
        I don't see myself as a game developer but this project taught me
        countless lessons of optimization, writing clean code, user interaction,
        and the importance of building things you really enjoy. Check out the
        latest binary
        <a
            href="https://github.com/thompson-tyler/UGLA/releases"
            target="_blank"
            style="text-decoration: underline"
            >here</a
        >.
    </p>

    <div class="article-heading">
        <div>GALLERY</div>
    </div>

    <div class="snip-container">
        <div class="cell">
            <img src="../../assets/UGLA/UGLA_snip.png" />
        </div>
        <div class="cell">
            <img src="../../assets/UGLA/UGLA_snip.png" />
        </div>
    </div>

    <div class="article-heading">
        <div>VISIT</div>
    </div>

    <div class="project-link-container">
        <a
            class="project-link"
            href="https://github.com/thompson-tyler/UGLA"
            target="_blank"
        >
            UGLA Github
        </a>
    </div>

    <div class="tech-stack-container">
        <div>
            <div class="article-heading">
                <div>LANGUAGES</div>
            </div>

            <div class="logo-container">
                <img src="../../assets/logos/cpp.png" />
            </div>
        </div>

        <div>
            <div class="article-heading">
                <div>TECHNOLOGIES</div>
            </div>

            <div class="logo-container">
                <img src="../../assets/logos/sfml.png" />
            </div>
        </div>
    </div>
</div>
