.contact-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: auto;
    margin: auto;
    max-width: 800px;
}

.contact-grid .cell {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: var(--main-bg-color);
    border: rgb(180, 180, 180) solid 2px;
    text-align: center;
    color: white;
}

@media only screen and (pointer: fine) {
    .contact-grid .cell {
        transition: background-color 0.2s;
    }

    .contact-grid .cell:hover {
        background-color: #3d3a41;
    }
}

@media only screen and (min-width: 600px) {
    .contact-grid {
        grid-template-columns: 1fr 1fr;
    }

    .contact-grid .cell {
        justify-self: center;
        width: 250px;
    }
}

.contact-grid .cell .icon {
    font-size: 38px;
}

.contact-grid .cell .info {
    font-size: 16px;
    text-decoration: underline;
}

.extra-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 24px auto;
    max-width: 800px;
}

@media only screen and (pointer: fine) {
    .extra-links a {
        transition: box-shadow 0.2s, transform 0.2s;
    }

    .extra-links a:hover {
        transform: translateY(-2px);
    }

    .extra-links img {
        border-radius: 50%;
        transition: box-shadow 0.2s;
    }

    .extra-links a:hover img {
        box-shadow: 0 5px 10px black;
    }
}
