<div class="article-heading">
    <div>
        CONTACT
    </div>
</div>

<div class="contact-grid">
    <a class="cell" href="tel:4252814006">
        <div class="icon">
            📞
        </div>
        <div class="info">
            (425)281-4006
        </div>
    </a>

    <a class="cell" href="mailto:tyler.thompson@tufts.edu">
        <div class="icon">
            📧
        </div>
        <div class="info">
            tyler.thompson@tufts.edu
        </div>
    </a>
</div>

<div class="extra-links">
    <a href="https://github.com/thompson-tyler" target="_blank">
        <img src="../../assets/logos/github.png" height="64px">
    </a>
    <a href="https://www.linkedin.com/in/tyler-t/" target="_blank">
        <img src="../../assets/logos/linkedin.png" height="64px">
    </a>
    <a href="https://www.instagram.com/thomp.ty/" target="_blank">
        <img src="../../assets/logos/instagram.png" height="64px">
    </a>
</div>
