.banner-container {
    background-color: #f7c56a;
    color: var(--main-bg-color);
    width: 100%;
    height: 4.2vw;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 200px 0;
    position: relative;
}

.scrolling-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5.9vw;
    line-height: 65%;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    position: absolute;
}

.num-1 {
    animation: scroll 30s linear infinite;
}
.num-2 {
    animation: scroll 30s linear infinite -15s;
}

@keyframes scroll {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
