@import "./scss-vars.scss";

.App {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  width: 100%;

  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
  }

  section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
  }

  h1 {
    font-family: $title-font;
    font-size: 6rem;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: $accent-color;
      transition: width 0.3s;
    }

    @media (max-width: 768px) {
      font-size: 9vw;
    }
  }

  h2 {
    font-family: $title-font;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    &::after, &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: $secondary-accent-color;
      transition: width 0.3s;
    }
    @media (max-width: 800px) {
      font-size: 8vw;
    }
  }

  h3 {
    font-family: $title-font;
    font-size: 1.5rem;
    color: $text-color;
  }

  p {
    font-family: $body-font;
    font-size: 1.4rem;
    color: $text-color;
    width: 100%;
  }
}
