$background-color: #242226;
$accent-color: #e7b351;
$accent-color-light: #ecbf6c;
$secondary-accent-color: #474747;
$text-color: white;
$text-color-active: #aeaeae;
$title-font: Verdana, Geneva, Tahoma, sans-serif;
$body-font: Courier New,Courier,monospace;
