<div class="profile">
    <div class="profile-title">Hi, I'm Tyler</div>
    <div class="profile-img"></div>
</div>

<div class="article-content">
    <div class="tagline">Computer Science Major at Tufts University</div>
    <p>
        I'm passionate about bringing a lasting impact to my community through
        STEM. I've achieved this by hosting 3D printing classes for
        underprivileged youth, organizing youth business fairs, and building a
        platform to connect students to local dogs that need to be walked. I
        have ample experience working on a team, and have knowledge in much of
        the tech stack, including PostgreSQL, C++, Python, JavaScript, and
        HTML/CSS. I look forward to connecting with you!
    </p>
    <a class="explore-banner" routerLink="/projects">
        <div>
            <b>MY PROJECTS</b>
        </div>
    </a>
</div>
