<div class="profile">
    <div class="profile-title">Hi, I'm Tyler</div>
    <div class="profile-img"></div>
</div>

<div class="article-content">
    <div class="tagline">Computer Science Major at Tufts University</div>
    <p>
        I'm passionate about bringing a lasting impact to my community through
        STEM. I've achieved this by hosting
        <a
            href="https://www.3cyouth.com/summer-steam3d-classes"
            target="_blank"
        >
            3D printing classes</a
        >
        for underprivileged youth,
        <a
            href="https://www.3cyouth.com/acton-children-business-fair-1"
            target="_blank"
        >
            organizing youth business fairs</a
        >, and
        <a routerLink="/projects/animal-aid"
            >building a platform to connect students to local dogs that need to
            be walked</a
        >. I have ample experience working on a team, and have knowledge in much
        of the tech stack, including Angular, C++, Python, TypeScript, and
        HTML/CSS. I look forward to
        <a routerLink="/contact">connecting</a>
        with you!
    </p>
    <a class="explore-banner" routerLink="/projects">
        <div>
            <b>MY PROJECTS</b>
        </div>
    </a>
</div>
